.nature
    display: flex
    width: 100%
    padding: 100px
    box-sizing: border-box
    
    .col-40
        width: 40%
        display: flex
        flex-direction: column
        justify-content: center
        
        .nature-title
            h1
                text-transform: uppercase
                color: #ffce00
            
        .nature-content
            p
                font-size: 18px
        
    .col-60
        width: 60%
        display: flex
        justify-content: center
        align-items: center
        
        .nature-img
            width: 80%
            height: 300px
            background:
                image: url(../images/about-page/nature/nature-img.jpg)
                size: 120%
                position: center center
                repeat: no-repeat
                
@media (max-width: 950px)
    .nature
        flex-direction: column
        
        .col-40
            width: 100%
            
        .col-60
            width: 100%
            
            .nature-img
                width: 100%
                margin: 50px 0px
                border-radius: 0%
                
@media (max-width: 600px)
    .nature
        padding: 50px
                