.col-40
    width: 40%
    display: flex
    flex-direction: column
        
.col-60
    width: 60%
        
.shows-list
    color: white
    background-color: rgba(black, 0.8)
    
    .show-group
        display: flex
        overflow: hidden
        
        .col-40
            .show-title
                h3
                    color: #ffce00
                    padding: 0px 0px 0px 100px
                    
            .show-description
                p
                    padding: 100px 100px

        .wild-24-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/wild-24.jpg")
                size: 130%
                position: top center
                repeat: no-repeat
                
        .animal-planet-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/animal-planet.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .secret-life-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/secret-life.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .selling-survival-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/selling-survival.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .remote-survival-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/remote-survival.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .going-ape-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/going-ape.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .explorer-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/explorer.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .life-below-zero-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/life-below-zero.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                
        .americas-national-parks-image
            min-height: 250px
            background:
                image: url("../images/shows-page/show-images/americas-national-parks.jpg")
                size: 130%
                position: center center
                repeat: no-repeat
                

    
                
@media (max-width: 1360px)
    .shows-list
        .show-group
            .americas-national-parks-image
                background:
                    size: 180%
                    
@media (max-width: 1160px)
    
    .col-40
        width: 100%
    
    .col-60
        width: 100%
        
    .shows-list
        .show-group
            flex-direction: column
            
            .col-40
                order: 1
                .show-title
                    h3
                        padding: 50px

                .show-description
                    p
                        padding: 50px
                        