html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.intro {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/intro/intro-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .intro .spotlight-box {
    height: 730px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -9000px; }
    .intro .spotlight-box .text-box {
      margin-top: -100px;
      height: 400px;
      width: 600px;
      background-color: rgba(0, 0, 0, 0.7); }
      .intro .spotlight-box .text-box .spotlight-title h1 {
        color: white;
        font-size: 32px;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
      .intro .spotlight-box .text-box .spotlight-content p {
        color: white;
        padding: 20px; }
      .intro .spotlight-box .text-box .spotlight-footer {
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .intro .spotlight-box .text-box .spotlight-footer p {
          font-size: 24px;
          color: white;
          padding: 20px; }
          .intro .spotlight-box .text-box .spotlight-footer p span {
            color: #ffce00; }
    .intro .spotlight-box .spotlight-img {
      margin-top: -100px;
      height: 400px;
      width: 600px;
      background-image: url("../images/intro/alaska-state-troopers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
  .intro nav {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0px; }
    .intro nav ul {
      padding: 0px;
      list-style-type: none;
      margin: 0px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .intro nav ul li {
        display: inline-block;
        line-height: 68px;
        width: 24%;
        margin-left: 1%;
        text-align: center; }
        .intro nav ul li .logo {
          height: 70px;
          width: 100% !important;
          background-image: url("../images/natgeologo.svg");
          background-repeat: no-repeat; }
        .intro nav ul li a {
          color: white;
          font-size: 24px;
          text-transform: uppercase;
          width: 70%;
          display: block;
          height: 68px; }
          .intro nav ul li a:hover {
            color: #ffce00; }
          .intro nav ul li a .selected-li {
            border-bottom: 2px solid white;
            width: 0px;
            margin: 0px auto; }

.active {
  border-bottom: 2px solid #ffce00; }

.first-quote {
  background-image: url(../images/first-quote/first-quote-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }
  .first-quote .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .first-quote .overlay p {
      font-size: 36px;
      text-align: center;
      color: white; }

.about {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/about/about.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .about .left-col {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about .left-col .about-text {
      width: 80%;
      background: rgba(0, 0, 0, 0.7); }
      .about .left-col .about-text h1 {
        color: white;
        font-size: 32px;
        padding: 0px 0px 20px 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
    .about .left-col .about-content p {
      color: white;
      padding: 0px 20px 20px; }
  .about .right-col {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about .right-col h1 {
      text-align: center;
      color: white;
      text-transform: uppercase; }
    .about .right-col button {
      margin-top: 20px;
      padding: 10px;
      width: 200px;
      font-size: 18px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.9);
      background-color: #ffce00;
      border: none;
      box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-transform 400ms ease-in-out forwards;
      transition: -webkit-transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards, -webkit-transform 400ms ease-in-out forwards; }
      .about .right-col button:hover {
        color: rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

.second-quote {
  background-image: url(../images/second-quote/second-quote-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }
  .second-quote .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .second-quote .overlay p {
      font-size: 36px;
      text-align: center;
      color: white; }

.third-quote {
  background-image: url(../images/third-quote/third-quote-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }
  .third-quote .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .third-quote .overlay p {
      font-size: 36px;
      text-align: center;
      color: white; }

.fourth-quote {
  background-image: url(../images/fourth-quote/fourth-quote-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }
  .fourth-quote .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .fourth-quote .overlay p {
      font-size: 36px;
      text-align: center;
      color: white; }

.newsletter {
  width: 100%;
  background-color: #303030; }
  .newsletter .center-col {
    margin: 0px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .newsletter .center-col .contact-group {
      width: 50%;
      text-align: center; }
      .newsletter .center-col .contact-group h3 {
        color: white;
        text-transform: uppercase; }
      .newsletter .center-col .contact-group ul {
        list-style-type: none;
        padding: 0px; }
        .newsletter .center-col .contact-group ul li {
          color: white; }
    .newsletter .center-col .form-group {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 300px; }
      .newsletter .center-col .form-group h3 {
        color: white;
        text-transform: uppercase; }
      .newsletter .center-col .form-group .input-group {
        padding: 30px; }
        .newsletter .center-col .form-group .input-group input {
          border: none;
          height: 30px;
          width: 200px;
          padding: 10px;
          margin-right: 50px;
          color: rgba(0, 0, 0, 0.5);
          font-style: italic;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
        .newsletter .center-col .form-group .input-group button {
          padding: 10px;
          width: 220px;
          font-size: 18px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.9);
          background-color: #ffce00;
          border: none;
          box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
          -webkit-transition: -webkit-transform 400ms ease-in-out forwards;
          transition: -webkit-transform 400ms ease-in-out forwards;
          transition: transform 400ms ease-in-out forwards;
          transition: transform 400ms ease-in-out forwards, -webkit-transform 400ms ease-in-out forwards; }
          .newsletter .center-col .form-group .input-group button:hover {
            color: rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.1);
                    transform: scale(1.1); }

.shows {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/shows/shows-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .shows .col-40 {
    width: 40%; }
  .shows .first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .shows .first-column h1 {
      text-align: center;
      color: white;
      text-transform: uppercase; }
    .shows .first-column button {
      margin-top: 20px;
      padding: 10px;
      width: 200px;
      font-size: 18px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.9);
      background-color: #ffce00;
      border: none;
      box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-transform 400ms ease-in-out forwards;
      transition: -webkit-transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards, -webkit-transform 400ms ease-in-out forwards; }
      .shows .first-column button:hover {
        color: rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .shows .col-60 {
    width: 60%; }
  .shows .second-column {
    margin-right: 50px; }
    .shows .second-column .gallery {
      height: 600px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.5); }
      .shows .second-column .gallery .img-box-shadow {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); }
      .shows .second-column .gallery .image {
        width: 33.33%;
        height: 200px; }
        .shows .second-column .gallery .image:hover {
          -webkit-animation: transform 400ms ease-in-out forwards;
                  animation: transform 400ms ease-in-out forwards; }

@-webkit-keyframes transform {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    zoom: 0; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    zoom: 1; } }

@keyframes transform {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    zoom: 0; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    zoom: 1; } }
        .shows .second-column .gallery .image .img-overlay {
          height: 200px;
          width: 100%; }
          .shows .second-column .gallery .image .img-overlay p {
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            line-height: 200px;
            opacity: 0; }
          .shows .second-column .gallery .image .img-overlay:hover {
            background-color: rgba(0, 0, 0, 0.4); }
          .shows .second-column .gallery .image .img-overlay:hover p {
            opacity: 1; }
      .shows .second-column .gallery .img-1 {
        background-image: url(../images/gallery/img-1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 125%; }
      .shows .second-column .gallery .img-2 {
        background-image: url(../images/gallery/img-2.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-3 {
        background-image: url(../images/gallery/img-3.jpeg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-4 {
        background-image: url(../images/gallery/img-4.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-5 {
        background-image: url(../images/gallery/img-5.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-6 {
        background-image: url(../images/gallery/img-6.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-7 {
        background-image: url(../images/gallery/img-7.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-8 {
        background-image: url(../images/gallery/img-8.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }
      .shows .second-column .gallery .img-9 {
        background-image: url(../images/gallery/img-9.jpg);
        background-size: 125%;
        background-position: center center;
        background-repeat: no-repeat; }

.pictures {
  height: 800px;
  background-image: url(../images/pictures/pictures-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .pictures .center-col {
    width: 70%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .pictures .center-col h1 {
      text-align: center;
      margin-top: 150px;
      color: white;
      text-transform: uppercase; }
    .pictures .center-col button {
      margin-top: 20px;
      margin-bottom: 100px;
      padding: 10px;
      width: 200px;
      font-size: 18px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.9);
      background-color: #ffce00;
      border: none;
      box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-transform 400ms ease-in-out forwards;
      transition: -webkit-transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards;
      transition: transform 400ms ease-in-out forwards, -webkit-transform 400ms ease-in-out forwards; }
      .pictures .center-col button:hover {
        color: rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .pictures .gallery-group {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .pictures .gallery-group .img-slider-overlay {
      height: 200px;
      width: 100%;
      overflow: hidden;
      background: transparent;
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .pictures .gallery-group .img-slider-overlay .left-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 20px; }
      .pictures .gallery-group .img-slider-overlay .right-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-right: 20px; }
      .pictures .gallery-group .img-slider-overlay i {
        font-size: 64px;
        color: rgba(255, 206, 0, 0.6);
        cursor: pointer; }
        .pictures .gallery-group .img-slider-overlay i:hover {
          color: rgba(255, 206, 0, 0.8); }
    .pictures .gallery-group .horizontal-gallery {
      height: 200px;
      width: 9000px;
      float: left;
      overflow: hidden;
      margin-left: -800px;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); }
      .pictures .gallery-group .horizontal-gallery .img {
        height: 200px;
        width: 400px;
        display: block;
        float: left; }
      .pictures .gallery-group .horizontal-gallery .img-1 {
        background-image: url(../images/horizontal-gallery/img-1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-2 {
        background-image: url(../images/horizontal-gallery/img-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-3 {
        background-image: url(../images/horizontal-gallery/img-3.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-4 {
        background-image: url(../images/horizontal-gallery/img-4.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-5 {
        background-image: url(../images/horizontal-gallery/img-5.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-6 {
        background-image: url(../images/horizontal-gallery/img-6.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-7 {
        background-image: url(../images/horizontal-gallery/img-7.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .pictures .gallery-group .horizontal-gallery .img-8 {
        background-image: url(../images/horizontal-gallery/img-8.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }

.footer {
  height: 100px;
  background: #dfba1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: white; }
  .footer .copyright {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px; }
  .footer .credit {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px; }
  .footer .social-media {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 36px;
    color: white; }
    .footer .social-media i {
      padding: 10px;
      cursor: pointer; }
      .footer .social-media i:hover {
        -webkit-animation: shake 400ms ease-in-out forwards;
                animation: shake 400ms ease-in-out forwards; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  20%, 80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px); }
  50% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px); }
  40%, 60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: translateY(3px);
            transform: translateY(3px); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  20%, 80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px); }
  50% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px); }
  40%, 60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: translateY(3px);
            transform: translateY(3px); } }
    .footer .social-media .facebook:hover {
      color: #3B5998; }
    .footer .social-media .pinterest:hover {
      color: #C92228; }
    .footer .social-media .instagram:hover {
      color: #e95950; }
    .footer .social-media .twitter:hover {
      color: #4099FF; }

.about-page-intro {
  height: 800px;
  background-image: url(../images/about-page/about-intro/about-intro-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .about-page-intro .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 690px; }
    .about-page-intro .title h1 {
      color: white; }
    .about-page-intro .title #about-page-title {
      display: none; }
  .about-page-intro nav {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 0px; }
    .about-page-intro nav ul {
      padding: 0px;
      list-style-type: none;
      margin: 0px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .about-page-intro nav ul li {
        display: inline-block;
        line-height: 68px;
        width: 24%;
        margin-left: 1%;
        text-align: center; }
        .about-page-intro nav ul li .logo {
          height: 70px;
          width: 100% !important;
          background-image: url("../images/natgeologo.svg");
          background-repeat: no-repeat; }
        .about-page-intro nav ul li a {
          color: black;
          font-size: 24px;
          text-transform: uppercase;
          width: 70%;
          display: block;
          height: 68px; }
          .about-page-intro nav ul li a:hover {
            color: #ffce00; }
          .about-page-intro nav ul li a .selected-li {
            border-bottom: 2px solid black;
            width: 0px;
            margin: 0px auto; }

.nature {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nature .col-40 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 800px; }
    .nature .col-40 .nature-title h1 {
      text-transform: uppercase;
      color: #ffce00;
      padding-left: 100px; }
    .nature .col-40 .nature-content {
      padding-left: 100px; }
      .nature .col-40 .nature-content p {
        font-size: 18px; }
  .nature .col-60 {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 800px; }
    .nature .col-60 .nature-img {
      width: 50%;
      height: 400px;
      border-radius: 100%;
      background-image: url(../images/about-page/nature/nature-img.jpg);
      background-size: 160%;
      background-position: center center;
      background-repeat: no-repeat; }

.animals {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/about-page/animals/animals-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .animals .col-40 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .animals .col-40 .animals-title h1 {
      color: #ffce00;
      text-transform: uppercase;
      text-align: left; }
    .animals .col-40 .animals-content p {
      color: white;
      padding-right: 100px;
      font-size: 18px; }
  .animals .col-60 {
    width: 60%; }

.charity {
  height: 870px; }
  .charity .charity-title h1 {
    text-transform: uppercase;
    color: #ffce00;
    text-align: center;
    padding: 100px 0px;
    margin: 0px; }
  .charity .charity-collection {
    background: grey;
    height: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .charity .charity-collection .charity-image {
      height: 200px;
      width: 25%; }
      .charity .charity-collection .charity-image .charity-overlay {
        background: rgba(0, 0, 0, 0.6);
        height: 200px;
        width: 100%;
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .charity .charity-collection .charity-image .charity-overlay:hover {
          -webkit-animation: fade 400ms ease-in-out forwards;
                  animation: fade 400ms ease-in-out forwards; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
        .charity .charity-collection .charity-image .charity-overlay p {
          color: white;
          font-size: 24px;
          text-align: center;
          text-transform: uppercase; }
          .charity .charity-collection .charity-image .charity-overlay p a {
            color: rgba(255, 206, 0, 0.5); }
            .charity .charity-collection .charity-image .charity-overlay p a:hover {
              color: #ffce00; }
            .charity .charity-collection .charity-image .charity-overlay p a:visited {
              color: rgba(255, 206, 0, 0.5); }
    .charity .charity-collection .img-1 {
      background-image: url(../images/about-page/charity/img-1.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-2 {
      background-image: url(../images/about-page/charity/img-2.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-3 {
      background-image: url(../images/about-page/charity/img-3.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-4 {
      background-image: url(../images/about-page/charity/img-4.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-5 {
      background-image: url(../images/about-page/charity/img-5.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-6 {
      background-image: url(../images/about-page/charity/img-6.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-7 {
      background-image: url(../images/about-page/charity/img-7.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-8 {
      background-image: url(../images/about-page/charity/img-8.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-9 {
      background-image: url(../images/about-page/charity/img-9.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-10 {
      background-image: url(../images/about-page/charity/img-10.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-11 {
      background-image: url(../images/about-page/charity/img-11.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .charity .charity-collection .img-12 {
      background-image: url(../images/about-page/charity/img-12.jpg);
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }

.shows-page-intro nav {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0px; }
  .shows-page-intro nav ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .shows-page-intro nav ul li {
      display: inline-block;
      line-height: 68px;
      width: 24%;
      margin-left: 1%;
      text-align: center; }
      .shows-page-intro nav ul li .logo {
        height: 70px;
        width: 100% !important;
        background-image: url("../images/natgeologo.svg");
        background-repeat: no-repeat; }
      .shows-page-intro nav ul li a {
        color: black;
        font-size: 24px;
        text-transform: uppercase;
        width: 70%;
        display: block;
        height: 68px; }
        .shows-page-intro nav ul li a:hover {
          color: #ffce00; }
        .shows-page-intro nav ul li a .selected-li {
          border-bottom: 2px solid black;
          width: 0px;
          margin: 0px auto; }

.col-40 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.col-60 {
  width: 60%; }

.shows-list {
  height: 5400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }
  .shows-list .show-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    overflow: hidden; }
    .shows-list .show-group .col-40 .show-title h3 {
      color: #ffce00;
      padding: 100px 0px 0px 100px; }
    .shows-list .show-group .col-40 .show-description p {
      padding: 100px 100px 0px 100px; }
    .shows-list .show-group .wild-24-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/wild-24.jpg");
      background-size: 130%;
      background-position: center center;
      background-repeat: no-repeat; }
    .shows-list .show-group .animal-planet-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/animal-planet.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .secret-life-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/secret-life.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .selling-survival-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/selling-survival.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .remote-survival-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/remote-survival.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .going-ape-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/going-ape.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .explorer-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/explorer.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .life-below-zero-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/life-below-zero.jpg");
      background-size: 130%;
      background-position: center center; }
    .shows-list .show-group .americas-national-parks-image {
      height: 600px;
      background-image: url("../images/shows-page/show-images/americas-national-parks.jpg");
      background-size: 130%;
      background-position: center center; }

.gallery-page-intro nav {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0px; }
  .gallery-page-intro nav ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery-page-intro nav ul li {
      display: inline-block;
      line-height: 68px;
      width: 24%;
      margin-left: 1%;
      text-align: center; }
      .gallery-page-intro nav ul li .logo {
        height: 70px;
        width: 100% !important;
        background-image: url("../images/natgeologo.svg");
        background-repeat: no-repeat; }
      .gallery-page-intro nav ul li a {
        color: black;
        font-size: 24px;
        text-transform: uppercase;
        width: 70%;
        display: block;
        height: 68px; }
        .gallery-page-intro nav ul li a:hover {
          color: #ffce00; }
        .gallery-page-intro nav ul li a .selected-li {
          border-bottom: 2px solid black;
          width: 0px;
          margin: 0px auto; }

.gallery-wrapper {
  position: relative;
  background-color: #303030; }
  .gallery-wrapper .gallery-lightbox {
    position: fixed;
    height: 100vh;
    margin-top: -110px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    display: none; }
    .gallery-wrapper .gallery-lightbox .big-image {
      height: 80vh;
      margin: 10vh auto;
      width: 80vw;
      box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
      background-image: url("../images/gallery-page/gallery-images/img-1.jpg");
      background-size: cover; }
      .gallery-wrapper .gallery-lightbox .big-image .close-big-image {
        color: rgba(255, 206, 0, 0.5);
        font-size: 36px;
        text-align: right;
        padding: 20px 40px;
        cursor: pointer; }
        .gallery-wrapper .gallery-lightbox .big-image .close-big-image i:hover {
          color: #ffce00;
          -webkit-animation: spin 400ms ease-in-out 0s forwards;
                  animation: spin 400ms ease-in-out 0s forwards; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  .gallery-wrapper .gallery-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .gallery-wrapper .gallery-images img {
      width: 25%;
      height: 250px;
      padding: none;
      margin: none;
      cursor: pointer;
      -webkit-transition: -webkit-transform 200ms ease-in;
      transition: -webkit-transform 200ms ease-in;
      transition: transform 200ms ease-in;
      transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
      opacity: 0.8;
      background: black; }
      .gallery-wrapper .gallery-images img:hover {
        opacity: 1;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
        z-index: 2; }
