.fourth-quote {
  background-image: url(../images/first-quote/first-quote-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); }
  .fourth-quote .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .fourth-quote .overlay p {
      font-size: 36px;
      text-align: center;
      color: white; }
